.App {
  text-align: center;
  background-color: rgb(74, 163, 191);
  min-height: 100vh;
  display: flex;
}

.board-wrapper {
  padding: 0.5rem;
  display: flex;
  gap: .5rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.dnd-column {
  background-color: rgb(232, 233, 237);
  border-radius: 5px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  min-width: 200px;
  flex: 1 1 0;
}

.dnd-item {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
  color: rgb(78, 92, 110);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: grab;
  margin-bottom: 0.5rem;
}
.dnd-item * {  
  margin: 0;
}

.column-title {
  text-align: left;
  margin-bottom: 1.25rem;
  color: rgb(78, 92, 110);
  font-weight: bold;
}

.current {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: grabbing;
}

.add-card__wrapper {
  display: flex;
  flex-direction: column;
}
.add-card__wrapper textarea {
  outline: none;
  resize: vertical;
  margin-bottom: 0.5rem;
  color: rgb(78, 92, 110);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add-card__actions * {
  cursor: pointer;
}
.add-card__actions {
  display: flex;
}
.add-card__submit {
  background-color: rgb(104, 175, 84);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  font-weight: bold;
}
.add-card__cancel {
  background: none;
  border: none;
  font-size: 1.25rem;
}

.button__add-card-wrapper {
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.button__add-card-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.button__add-card {
  border: none;
  background: none;
  cursor: inherit;
}
